Lotizador/Lotizador.WIN/Service References/LotizadorService/NarhenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vapps.dyndns-server.com:2450/wcf/NarhenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lotizador.WCF" />
  <xs:import schemaLocation="http://vapps.dyndns-server.com:2450/wcf/NarhenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Lotizador.BE" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Lotizador.WCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Lotizador.WCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSocioBE" nillable="true" type="q3:SocioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarSocioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSocioBE" nillable="true" type="q4:SocioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSocioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSocioBE" nillable="true" type="q5:SocioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSocioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSocioPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSocioBE" nillable="true" type="q6:SocioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSocioPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerSocioPorCriterioResult" nillable="true" type="q7:ArrayOfSocioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoDocumentoPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSocioBE" nillable="true" type="q8:TipoDocumentoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoDocumentoPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerTipoDocumentoPorCriterioResult" nillable="true" type="q9:ArrayOfTipoDocumentoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVariablePorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oVariableBE" nillable="true" type="q10:VariableBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVariablePorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerVariablePorCriterioResult" nillable="true" type="q11:ArrayOfVariableBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="GetDepartamentosResult" nillable="true" type="q12:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUbigeoBE" nillable="true" type="q13:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="GetProvinciasResult" nillable="true" type="q14:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUbigeoBE" nillable="true" type="q15:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="GetDistritosResult" nillable="true" type="q16:ArrayOfUbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUbigeoBE" nillable="true" type="q17:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="GetUbigeoResult" nillable="true" type="q18:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeoPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUbigeoBE" nillable="true" type="q19:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUbigeoPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="GetUbigeoPorCriterioResult" nillable="true" type="q20:UbigeoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaBE" nillable="true" type="q21:MonedaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMonedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaBE" nillable="true" type="q22:MonedaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMonedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaBE" nillable="true" type="q23:MonedaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMonedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedaPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaBE" nillable="true" type="q24:MonedaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedaPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerMonedaPorCriterioResult" nillable="true" type="q25:ArrayOfMonedaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oProyectoBE" nillable="true" type="q26:ProyectoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProyectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oProyectoBE" nillable="true" type="q27:ProyectoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProyectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oProyectoBE" nillable="true" type="q28:ProyectoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProyectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oProyectoBE" nillable="true" type="q29:ProyectoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerProyectoPorCriterioResult" nillable="true" type="q30:ArrayOfProyectoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUnidadCatastral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUnidadCatastralBE" nillable="true" type="q31:UnidadCatastralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUnidadCatastralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUnidadCatastralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUnidadCatastral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUnidadCatastralBE" nillable="true" type="q32:UnidadCatastralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUnidadCatastralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUnidadCatastralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidadCatastral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUnidadCatastralBE" nillable="true" type="q33:UnidadCatastralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUnidadCatastralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUnidadCatastralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUnidadCatastralPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUnidadCatastralBE" nillable="true" type="q34:UnidadCatastralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUnidadCatastralPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerUnidadCatastralPorCriterioResult" nillable="true" type="q35:ArrayOfUnidadCatastralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oLoteBE" nillable="true" type="q36:LoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarLoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oLoteBE" nillable="true" type="q37:LoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarLoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oLoteBE" nillable="true" type="q38:LoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarLoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLotePorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oLoteBE" nillable="true" type="q39:LoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLotePorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerLotePorCriterioResult" nillable="true" type="q40:ArrayOfLoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLotesDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdLote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLotesDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerLotesDisponiblesResult" nillable="true" type="q41:ArrayOfLoteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSecuencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSecuenciaBE" nillable="true" type="q42:SecuenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSecuenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarSecuenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSecuencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSecuenciaBE" nillable="true" type="q43:SecuenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSecuenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSecuenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSecuencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSecuenciaBE" nillable="true" type="q44:SecuenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSecuenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSecuenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSecuenciaPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oSecuenciaBE" nillable="true" type="q45:SecuenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSecuenciaPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerSecuenciaPorCriterioResult" nillable="true" type="q46:ArrayOfSecuenciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUsuarioBE" nillable="true" type="q47:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUsuarioBE" nillable="true" type="q48:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUsuarioBE" nillable="true" type="q49:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUsuarioBE" nillable="true" type="q50:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oUsuarioBE" nillable="true" type="q51:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerUsuarioPorCriterioResult" nillable="true" type="q52:ArrayOfUsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerUsuarioPorIdResult" nillable="true" type="q53:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oBancoBE" nillable="true" type="q54:BancoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarBancoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oBancoBE" nillable="true" type="q55:BancoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarBancoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oBancoBE" nillable="true" type="q56:BancoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarBancoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBancoPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oBancoBE" nillable="true" type="q57:BancoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBancoPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerBancoPorCriterioResult" nillable="true" type="q58:ArrayOfBancoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oContratoBE" nillable="true" type="q59:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarContratoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oContratoBE" nillable="true" type="q60:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarContratoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oContratoBE" nillable="true" type="q61:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarContratoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratoPorCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oContratoBE" nillable="true" type="q62:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratoPorCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerContratoPorCriterioResult" nillable="true" type="q63:ArrayOfContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oContratoBE" nillable="true" type="q64:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerContratoResult" nillable="true" type="q65:ContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMonedaTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaTipoCambio" nillable="true" type="q66:MonedaTipoCambioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMonedaTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMonedaTipoCambioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMonedaTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaTipoCambio" nillable="true" type="q67:MonedaTipoCambioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMonedaTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMonedaTipoCambioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonedaTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaTipoCambio" nillable="true" type="q68:MonedaTipoCambioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonedaTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMonedaTipoCambioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedaTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oMonedaTipoCambio" nillable="true" type="q69:MonedaTipoCambioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedaTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="ObtenerMonedaTipoCambioResult" nillable="true" type="q70:ArrayOfMonedaTipoCambioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oGeneralBE" nillable="true" type="q71:GeneralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommandTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="CommandTextResult" nillable="true" type="q72:GeneralBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSQLResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarListaError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oListaErrorBE" nillable="true" type="q73:ListaErrorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarListaErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarListaErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarListaError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Lotizador.BE" minOccurs="0" name="oListaErrorBE" nillable="true" type="q74:ListaErrorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarListaErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarListaErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>